<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="fragment :: header"></header>


<div>
    <h2 th:text="${ 'Consultation By : ' + oneConsultation.getApplicationUser().getFirstname()}"></h2>
    <h2 th:text="${oneConsultation.getBody()}"></h2>

    <form th:if="${showUpdateConsultationForm}" th:action="@{/editConsultation/{id}(id=${oneConsultation.getId()})}"
          method="get">
        <input th:value="${oneConsultation.getSubject()}" name="subject" required>
        <input rows="3" name="body"  th:value="${oneConsultation.getBody()}" required></input>
        <button type="submit">Update</button>
    </form>

    <form th:if="${updateConsultationButton}"
          th:action="@{/updateConsultation/{id}(id=${oneConsultation.getId()})}" method="get">
        <button type="submit">Edit Your Consultation</button>
    </form>

</div>

<!--get Responses()-->
<div th:each="oneResponse : ${oneConsultation.getResponses()}">
    <div th:if="${oneResponse.isTherapists()}">
        <p th:text="${oneResponse.getBody()}"></p>
        <div th:if="${testButton}">
            <form th:action="@{/editResponse/{consultationId}/{responseId}(consultationId=${oneConsultation.getId()}, responseId=${oneResponse.getId()})}"
                  method="get">
                <input rows="3" name="body"  th:value="${oneResponse.getBody()}" required></input>
                <button type="submit">Update</button>
            </form>
            <form th:action="@{/DeleteResponse/{consultationId}/{responseId}(consultationId=${oneConsultation.getId()}, responseId=${oneResponse.getId()})}"
                  method="post">
                <button type="submit">Delete</button>
            </form>
        </div>
    </div>
    <div th:unless="${oneResponse.isTherapists()}">
        <h3 th:text="${oneResponse.getBody()}"></h3>
        <div th:if="${!testButton}">
            <form th:action="@{/editResponse/{consultationId}/{responseId}(consultationId=${oneConsultation.getId()}, responseId=${oneResponse.getId()})}"
                  method="get">
                <input rows="3" name="body"  th:value="${oneResponse.getBody()}" required></input>
                <button type="submit">Update</button>
            </form>
            <form th:action="@{/DeleteResponse/{consultationId}/{responseId}(consultationId=${oneConsultation.getId()}, responseId=${oneResponse.getId()})}"
                  method="post">
                <button type="submit">Delete</button>
            </form>
        </div>

    </div>
    <hr>
</div>

<form action="/addResponse" method="post">
    <input type="hidden" field="*{consultationId}" name="consultationId" th:value="${oneConsultation.getId()}">
    <label for="responseBody">Your Response</label>
    <textarea id="responseBody" rows="3" field="*{responseBody}" name="responseBody" required></textarea>
    <button type="submit">add Response</button>
</form>

</body>
</html>